<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfd.oms.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bfd.oms.model.Users" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_realname" property="userRealname" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="last_logintime" property="lastLogintime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="to_bfd_time" property="tobfdtime" jdbcType="INTEGER" />
    <result column="remind_time" property="remindtime" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_password, user_nickname, user_realname, reg_time, last_logintime, 
    status,to_bfd_time,remind_time
  </sql>
  
  <select id="querySingleUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_name = #{userName}
    and status=1
  </select>
  
  <select id="queryUserAndRole" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
	r.user_id,
	u.user_name,
	u.user_password,
	u.user_nickname,
	u.user_realname,
	u.reg_time,
	u.last_logintime,
	u. status,
	u.remind_time,
	r.role_id
	FROM
		user u
	LEFT JOIN user_role r ON u.user_id = r.user_id
	AND r. STATUS = 1
	AND u. STATUS = 1
	WHERE
		user_name =  #{userName}
  </select>
  
  <insert id="insertSelective"  useGeneratedKeys="true"   keyProperty="userId" parameterType="com.bfd.oms.model.Users" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userRealname != null" >
        user_realname,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="lastLogintime != null" >
        last_logintime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userRealname != null" >
        #{userRealname,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogintime != null" >
        #{lastLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bfd.oms.model.Users" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userRealname != null" >
        user_realname = #{userRealname,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLogintime != null" >
        last_logintime = #{lastLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where user_name = #{userName,jdbcType=VARCHAR}
  </update>
  
   <update id="setUsers" parameterType="com.bfd.oms.model.Users" >
    update user  set remind_time = #{remindtime}
    where user_name = #{userName}
  </update>
  </mapper>